@import '../../styles/variables.scss';

.card{
    padding: 0.5rem 0;
    border-bottom:1px solid $line;
    @media print{
        border-bottom:1px solid $printHL;
    }
    display:grid;
    grid-template:
    "title location" auto
    "description location" auto
    "description date" auto
    / 1fr 100px;
    @media screen and (max-width:500px){
        grid-template: 
        "title title" auto
        "description description" auto
        "date location" auto
        / 1fr 1fr;
    }
    grid-gap: 0.5rem;
    p.date {
        grid-area: date;
        align-self:end;
        text-align: right;
    }
    > h3 {
        grid-area: title;
        @extend .highlighted;
    }
    > .desc {
        grid-area:description
    }
    > .location {
        grid-area:location;
        align-self:start;
        text-align: right;
    }
}